body {
    background: linear-gradient(to bottom, #001d49, #3c8af8);
}

header {
    background-color: transparent;
}

@media (max-width: 576px) {
    .mt-mobile-0 {
        margin-top: 0 !important;
    }
}

#navbarHam {
    border-color: white;
}

nav {
    padding: 20px 0;
}

.link {
    color: white !important;
}

main {
    padding: 40px 0;
}

.jumbotron {
    margin-top: -30px;
    background-color: transparent;
}

.logo {
    width: 200px;
    height: 200px;
}

h1 {
    color: white;
    font-size: 70px;
    margin-top: 100px;
}

h2 {
    color: white;
    font-size: 40px;
}

.btn-outline-warning {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    color: white;
}

.card {
    text-align: left;
    background-color: #032f72 !important;
    border-radius: 15px;
    border-color: #ffffff !important;
}

.card-subtitle {
    color: white;
}

.card-body,
.card-title,
.card-text,
.text-center {
    color: #ffffff !important;
    text-align: left;
    margin-top: 10px;
}

.card-img-top {
    margin: 20px;
    height: 200px;
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
}

.btn-img {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-card {
    text-align: center;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.carousel-img {
    width: 300px;
    height: 300px;
}

#miModal {
    background-color: transparent;
}

footer {
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border-top: 2px solid white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-card {
    background-color: #001d3d;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact-card-header {
    background-color: #415a77;
    color: white;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

.contact-card-body {
    padding: 20px;
}

#myCarousel {
    align-items: center;
}

label {
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #001d49, #3c8af8);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #001d49, #3c8af8);
}

.modal-xl {
    max-width: 95%;
    width: 95%;
    margin: 1.75rem auto;
}

.modal-content {
    height: 80vh;
    border-radius: 10px;
}

.modal-body {
    padding: 0;
    height: calc(80vh - 60px);
    overflow: hidden;
}

.modal-header,
.modal-footer {
    border: none;
}

body.modal-open {
    overflow: hidden;
}

.separador-blanco {
    border: 1;
    height: 4px;
    /* Puedes ajustar el grosor de la línea */
    background: rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0;
    /* Ajusta los márgenes según tus necesidades */
}

/* CARDS PROYECTOS */

.card-hidden {
    display: none;
}

.card-proj {
    display: flex;
    height: 400px;
    width: 300px;
    background-color: #032f72 !important;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #00000044;
    margin-left: -80px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    border: 2px solid #ffffff;
    /* Añade esta línea para el borde de color */
    margin-top: 5vh;
}

.card-proj:not(:first-child) {
    margin-left: -50px;
}

.card-proj:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    text-shadow: 2px 2px 8px #6e5b94;
}

.card-proj:hover~.card-proj {
    position: relative;
    left: 50px;
    transform: rotateX(-15deg) rotateY(10deg);
    transition: 0.4s ease-out;
}

.title-1-proj {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 20px;
    top: 15px;
}

.btn-proj {
    position: absolute;
    top: 195px;
    margin: 0 20px;
    width: 120px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #4a2f7c;
    color: #fff;
    transition: 0.4s ease-out;
}

.btn-proj:hover {
    transition: 0.4s ease-out;
    background-color: #8a4ff8;
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(157, 71, 255, 0.5),
        0px 5px 5px -1px rgba(163, 58, 233, 0.25),
        inset 4px 4px 8px rgba(219, 175, 255, 0.5),
        inset -4px -4px 8px rgba(137, 19, 216, 0.35);
}

.bar-proj {
    position: relative;
    top: 250px;
    height: 5px;
    width: 100%;
}

.emptybar-proj {
    background-color: #201c29;
    width: 100%;
    height: 100%;
}

.filledbar-proj {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: #d059ff;
    background: linear-gradient(90deg, #6831cfab, #a777ff 100%);
    transition: 0.6s ease-out;
}

.card-proj:hover .filledbar-proj {
    width: 100%;
    transition: 0.4s ease-out;
}

.content-proj {
    position: absolute;
    padding: 20px;
    top: 60px;
    color: #eae0fd;
    font-size: 0.7rem;
}

.stroke-proj {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

.card-proj:hover .stroke-proj {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

/* Segunda parte de las cards */

/* Nueva barra de progreso */
.progress-bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    /* Cambia este valor para ajustar el progreso */
    height: 4px !important;
    background-color: #ffffff !important;
}

.progress-text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    margin-left: 3px;
    margin-bottom: 3px;
}

/* toogle */

.checkbox {
    width: 223px;
    height: 60px;
    background-color: #758faa;
    border-radius: 30px;
    position: relative;
    color: black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#checkbox_toggle {
    display: none;
}

.checkbox .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(40deg, #3c8af8, #094c76 70%);
    transition: 0.4s;
    box-shadow: 0px 0px 3px #d4af37, 0px 0px 5px #d4af37;
}

.checkbox .slide {
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.checkbox .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

.check:checked+.checkbox .slide .toggle {
    transform: translateX(113px);
    background: linear-gradient(40deg, #094c76, #3c8af8 70%);
    box-shadow: -0px -0px 10px #232d2e, -0px -0px 3px #232d2e;
}

.check:checked+.checkbox .slide {
    background-color: #758faa;
    color: #fff;
}

/* Code name */
.code-editor {
    max-width: 300px;
    background-color: #1d1e2200;
    border-radius: 8px;
    padding: 2px;
    padding-left: 5vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 30px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(207 146 120);
}

.color-preview-1,
.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}


/* Cards mobile */

/* .scroll-1_proj_mb::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1_proj_mb::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

.container_proj_mb * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

.container_proj_mb {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 24px;
    border-radius: 8px;
    gap: 20px;
}

.container_proj_mb .card_proj_mb {
    flex: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #141414;
    scroll-snap-align: start;
}

.card_proj_mb .card__image_proj_mb {
    flex: 1;
    height: 140px;
}

.card_proj_mb:nth-child(1) .card__image_proj_mb {
    background-image: linear-gradient(to right top,
            #051937,
            #004d7a,
            #008793,
            #00bf72,
            #a8eb12);
}

.card_proj_mb:nth-child(2) .card__image_proj_mb {
    background-image: linear-gradient(to right top,
            #dc09a5,
            #ce00b4,
            #ba00c5,
            #9c00d8,
            #6f12eb);
}

.card_proj_mb:nth-child(3) .card__image_proj_mb {
    background-image: linear-gradient(to right top,
            #dc1009,
            #e55f00,
            #e49200,
            #dac000,
            #c7eb12);
}

.card_proj_mb .card__content_proj_mb {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.card_proj_mb .card__content_proj_mb .card__title_proj_mb {
    font-size: 32px;
    color: #fff;
    text-transform: capitalize;
}

.card_proj_mb .card__content_proj_mb .card__describe_proj_mb {
    color: #fff;
    font-size: 16px;
} */


/* Skill 1 */

.container-skills-1 {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #ececec00;
    border-radius: 7px;
    user-select: none;
}

.container-skills-1 .skill-box-skills-1 {
    width: 100%;
    margin: 25px 0;
}

.skill-box-skills-1 .title-skills-1 {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: start;
}

.skill-box-skills-1 .skill-bar-skills-1 {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar-skills-1 .skill-per-skills-1 {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #000000;
    animation: progress-skills-1 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per-skills-1.TypeScript-skills-1 {
    /*progreso de los diferentes lenguajes*/
    width: 52%;
    animation-delay: 0.1s;
}

.skill-per-skills-1.SCSS-skills-1 {
    /*progreso de los diferentes lenguajes*/
    width: 25%;
    animation-delay: 0.1s;
}

.skill-per-skills-1.HTML-skills-1 {
    /*progreso de los diferentes lenguajes*/
    width: 22%;
    animation-delay: 0.2s;
}

@keyframes progress-skills-1 {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per-skills-1 .tooltip-skills-1 {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #000000;

    z-index: 1;
}

.tooltip-skills-1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background: #000000;
    transform: translateX(-50%) rotate(45deg);
}

/* video casaleo */

.video-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Ajusta esto al tamaño deseado */
    padding-top: 177.78%;
    /* Relación de aspecto 9:16 (vertical) */
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* card mob */

.radio-inputs-proj-mob {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs-proj-mob .radio-proj-mob {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs-proj-mob .radio-proj-mob input {
    display: none;
}

.radio-inputs-proj-mob .radio-proj-mob .name-proj-mob {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs-proj-mob .radio-proj-mob input:checked+.name-proj-mob {
    background-color: #fff;
    font-weight: 600;
}